<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav nav-pills">
                    <li role="presentation"><a href="/">User</a></li>
                    <li role="presentation"><a href="/cars">Cars</a></li>
                    <li role="presentation"><a href="/about">About</a></li>
                    <li role="presentation"><a href="/newCar">New Car</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
