
<h1>{{ name }}</h1>
<p><strong>Email:</strong> {{ email }} </p>
<p><strong>Address:</strong> {{ address.street }} {{ address.city }} {{ address.country }} </p>
<button (click)="toggleHobbies()">
    {{ showHobbies ? "Hide hobbies" : "Show hobbies" }}
</button>
<div *ngIf="showHobbies">
    <h3>Hobbies</h3>
    <ul>
        <li *ngFor="let hobby of hobbies; let i = index">
            {{ hobby }}
            <button (click)="deleteHobby(i)">X</button>
        </li>
    </ul>
    <h3>Add Hobbies:</h3>
    <form (submit)="addHobby(hobby.value)">
        <label>Name of Hobby: </label>
        <input type="text" #hobby>
    </form>
</div>
<hr>
<h3>Edit User:</h3>
<form>
    <label>Name:</label><br>
    <input type="text" name="name" [(ngModel)]="name"><br>
    <label>Email:</label><br>
    <input type="text" name="email" [(ngModel)]="email"><br>
    <label>Street:</label><br>
    <input type="text" name="address.street" [(ngModel)]="address.street"><br>
    <label>City:</label><br>
    <input type="text" name="address.city" [(ngModel)]="address.city"><br>
    <label>Country:</label><br>
    <input type="text" name="address.country" [(ngModel)]="address.country"><br>
</form>
<hr>
<h4>Posts</h4>
<div *ngFor="let post of posts">
    <h3> {{ post.title }} </h3>
    <p> {{ post.body }} </p>
</div>